.modal-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px); /* Desfoca a tela*/

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  width: 100%;
  max-width: 620px;
  background-color: #fff;
  border-radius: 1.2em;
  padding: 2em;

  display: flex;
  flex-direction: column;
}

.title-modal {
  color: #0268e2;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

/* Form */
.modal-container form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.modal-container form .form-group {
  display: flex;
  flex-direction: column;
}

.modal-container from .form-group:nth-child(2) {
  margin-top: 1.5em;
}

form .form-group label {
  font-size: 0.8em;
  font-weight: 700;
  color: #999;
  margin-top: 0.6em;
}

form .form-group input {
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

form .form-group input:focus {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Buttons-modal */
form .buttons-modal {
  margin-top: 3.5em;
  align-self: flex-end;
}

.buttons-modal .btn-cancel {
  color: #888;
  background: transparent;
  margin-right: 1em;
}

.buttons-modal .btn-cancel:hover {
  color: #de3f4e;
}

.buttons-modal .btn-save {
  background-color: #34ca00;
}

.buttons-modal .btn-save:hover {
  background-color: #2b9061;
}
